# ==========================
# Next.js
# ==========================
node_modules/
.next/
out/
next-env.d.ts

# ==========================
# VS Code
# ==========================

@@ -21,22 +20,10 @@ next-env.d.ts
# ==========================
.env
.env.local

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db
=======
.next/
node_modules/
out/
.env
.env.local
*.log
.vscode/
next-env.d.ts
package-lock.json
package.json
//update